@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;  
}
body {
  background:linear-gradient(50deg, rgb(180, 127, 47) 0%, rgb(134, 86, 211) 100%);
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 1em;
}
li {
  list-style-type: none;
}
/* NAVIGATION */
nav {
  background: #000000ee;
  padding: 0 0.5rem;
  position: sticky;
  top: 0;
}
a {
  color: white;
  text-decoration: none;
}
.menu,
.submenu {   
  list-style-type: none;
}
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}
.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 1rem 0.5rem;
}
.menu li.subitem a {
  padding: 1rem;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary { /* divider between buttons and menu links */
  border-bottom: 1px #141414 solid;
}
/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
 display: block;
}
.has-submenu i {
  font-size: 1em;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 1em;
  line-height: 16px;
  font-weight: 900; 
  content: "\f078";
  color: white;
  padding-left: 0.5rem;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: transparent;
  border-radius: 3px;
}
/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
      justify-content: center;
  }
  .logo {
      flex: 1;
  }
  .item.button {
      width: auto;
      order: 1;
      display: block;
  }
  .toggle {
      flex: 1;
      text-align: right;
      order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
      padding: 10px 15px;
      margin: 5px 0;
  }
  .button a {
      background: linear-gradient(110deg, rgba(207, 162, 233, 0.74) 0%, rgba(255, 191, 106, 0.644) 100%);;
      border: 1px #202020 solid;
  }
  .button.secondary {
      border: 0;
  }
  .button.secondary a {
      background: transparent;
      border: 1px #202020 solid;  
  }
  .button a:hover {
      text-decoration: none;
  }
  .button:not(.secondary) a:hover {
      background: linear-gradient(110deg, rgba(207, 162, 233, 0.555) 0%, rgba(204, 140, 56, 0.555) 100%);;
      border-color: linear-gradient(40deg, rgba(207, 162, 233, 0.8) 0%, rgba(114, 183, 201, 0.712) 100%);;
  }
}
/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
      align-items: flex-start;     
      flex-wrap: nowrap;
      background: none;
  }
  .logo {
      order: 0;
  }
  .item {
      order: 1;
      position: relative;
      display: block; 
      width: auto;
  }
  .button {
      order: 2;
  }
  .submenu-active .submenu {
      display: block;
      position: absolute;
      left: 0;
      top: 68px;
      background: #000000ee;
  }
  .toggle {
      display: none;
  }
  .submenu-active {
      border-radius: 0;
  }
}
/* MAIN PAGE */
.header {
  text-align: center;
  padding: 10%;
  min-height: 20rem;
}

.header h1 {
  font-size: 3em;
  margin: 0 auto;
  padding-top: 2rem;
}
.header h2 {
  font-size: 1.5em;
}

.main-page {
  background-color: #000000ee;
  color: #f4f4f4;
  padding: 2rem;
  min-height: 40rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}
.column {
  align-items: center;
  margin: 0 auto;
}
.column li {
  list-style-type: none;
  padding: 10%;
  flex-direction: column;
}
button {
  text-transform: uppercase;
}
article {
  width: clamp(200px, 50%, 600px);
}

.footer {
  text-align: center;
  padding: 20px;
  overflow: hidden;
  min-height: 20rem;
}

.footer ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}
.footer li {
  padding: 2rem;
}
.footer h3 {
  padding-top: 10rem;
  margin: 0 auto;
}
.footer h2 {
  padding: 2rem;
}
.footer a:hover {
  color: #000000ee;
}

/* ABOUT PAGE */
.about-page {
  background-color: #000000ee;
  margin: 0 auto;
  padding: 5%;
  color: #f4f4f4;
}
.about-page .column {
  width: 50%;
}
.about-page .row {
  width: 100%;
  padding: 2rem;
  margin-bottom: 1rem;
}
article div {
  padding: 2rem 0;

}
.about-page img {
  width: 100%;
  min-width: 10rem;
  margin: 0 auto;
}
/* MARKETPLACE PAGE */
.marketplace .header {
  margin: 0 -5rem;
  min-height: 30rem;
  background: url(img/marketplace-pic11.jpg) 75%;
}
.mark-items .column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.mark-items li {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 0 auto;
}
.mark-items img {
  transition-duration: 900ms;
}
.mark-items img:hover {
  transform: scale(1.03);
  transition-duration: 200ms;
}
/* CONTACT PAGE */
/* Icon */
.icons {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
}
ul.icons li .icon:before {
    font-size: 2em;
}
.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.fa-twitter:before {
    content: "\f099";
}
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
  margin: 0 auto;
  padding: 2rem;
}
.icons a:hover {
  color: #000000ee;
}
  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }

  .icon > .label {
    display: none;
  }

/* CHECKOUT PAGE */
.order-details {
  flex-direction: column;
  width: 30%;
  margin: 2rem;
  
}
.order-details h2 {
  margin: 5rem;
  margin: 0 auto;
  font-size: 2em;
}
/* FORMS */
@media screen and (min-width: 900px) {
  form {
      width: 50%;
  }
  .myForm {
      display: flex;
      flex-direction: column;
      background:linear-gradient(110deg, rgba(207, 162, 233, 0.555) 0%, rgba(111, 136, 219, 0.555) 100%);
      border-radius: 3px;
      padding: 3rem;
      margin: 3%;
      margin-bottom: 100px;
      text-align: left;
    }
    .row {
      display: flex;
      justify-content: center;
      padding-right: 1em;
      align-content: space-around;
    }
    .column {
      display: flex;
      flex-direction: column;
      padding: 1em;
    }
    .input-group {
      display: flex;
    }
    .input-group > label {
      margin-right: 1em; 
      padding: .5em 0;
    }
    .myForm input,
    .myForm select {
      flex: 6; 
      padding: .5em;
      margin-bottom: 1em;
      height: 2rem;
    }
    .myForm button {
      padding: 1em; 
      background: linear-gradient(40deg, rgba(111, 155, 156, 0.459) 0%, rgba(207, 162, 233, 0.8) 100%);
      color: white;
      border: 0;
      transition-duration: 700ms;
    }
    .myForm button:hover {
        transform: scale(1.02);
        transition-duration: 400ms;
    }
    .myForm fieldset {
      border: 0; 
    }
    .payment > label,
    .extras > label {
      display: block;
    }
  }
  @media screen and (min-width: 900px) {
    form {
        width: 50%;
    }
    .myForm {
        display: flex;
        flex-direction: column;
        background:linear-gradient(110deg, rgba(207, 162, 233, 0.555) 0%, rgba(111, 136, 219, 0.555) 100%);
        border-radius: 3px;
        padding: 3rem;
        margin: 3%;
        margin-bottom: 100px;
        text-align: left;
      }
      .row {
        display: flex;
        justify-content: center;
        padding-right: 1em;
        align-content: space-around;
      }
      .column {
        display: block;
        flex-direction: column;
        padding: 1em;
      }
      .input-group {
        display: flex;
      }
      .input-group > label {
        margin-right: 1em; 
        padding: .5em 0;
      }
      .myForm input,
      .myForm select {
        flex: 6; 
        padding: .5em;
        margin-bottom: 1em;
        height: 2rem;
      }
      .myForm button {
        padding: 1em; 
        background: linear-gradient(40deg, rgba(111, 155, 156, 0.459) 0%, rgba(207, 162, 233, 0.8) 100%);
        color: white;
        border: 0;
        transition-duration: 700ms;
      }
      .myForm button:hover {
          transform: scale(1.02);
          transition-duration: 400ms;
      }
      .myForm fieldset {
        border: 0; 
      }
      .payment > label,
      .extras > label {
        display: block;
      }
    }

@media screen and (max-width: 900px) {
  form {
      width: 100%;
  }
  .myForm {
      display: flex;
      flex-direction: column;
      background:linear-gradient(110deg, rgba(207, 162, 233, 0.555) 0%, rgba(111, 136, 219, 0.555) 100%);
      border-radius: 3px;
      padding: 3rem;
      margin: 3%;
      margin-bottom: 100px;
      text-align: left;
    }
    .row {
      display: flex;
      justify-content:left;
      padding-right: 1em;
    }
    .column {
      display: block;
      flex-direction: column;
      padding: 1em;
    }
    .input-group {
      display: flex;
    }
    .input-group > label {
      margin-right: 1em; 
      padding: .5em 0;
    }
    .myForm input,
    .myForm select {
      flex: 6; 
      padding: .5em;
      margin-bottom: 1em;
      height: 2rem;
    }
    .myForm button {
      padding: 1em; 
      background: linear-gradient(40deg, rgba(111, 155, 156, 0.459) 0%, rgba(207, 162, 233, 0.8) 100%);
      color: white;
      border: 0;
      transition-duration: 700ms;
    }
    .myForm button:hover {
        transform: scale(1.02);
        transition-duration: 400ms;
    }
    .myForm fieldset {
      border: 0; 
    }
    .payment > label,
    .extras > label {
      display: block;
    }
  }
  